:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --error-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    color: var(--error-color);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

#rememberMeDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 10px;
}

/* tablet */
@media (max-width: 768px) {
    #container {
        flex-direction: column;
        padding: 20px;
    }

    #loginForm {
        width: 90%;
    }
}

/* mobile */
@media (max-width: 480px) {
    #container {
        padding: 10px;
    }

    #loginForm {
        width: 100%;
    }

    input, button {
        font-size: 14px;
    }
}

