:root {
    --light-background-color: #f0f0f0;
    --light-color: #000;
    --dark-background-color: #121212;
    --dark-color: #fff;
    --light-tag-background-color: #ccc;
    --dark-tag-background-color: #444;
    --light-tag-color: #000;
    --dark-tag-color: #fff;
}

.light {
    background-color: var(--light-background-color) !important;
    color: var(--light-color) !important;
}

.dark {
    background-color: var(--dark-background-color) !important;
    color: var(--dark-color) !important;
}


.light .note {
    background-color: var(--light-background-color) !important;
    color: var(--light-color) !important;
}

.dark .note {
    background-color: var(--dark-background-color) !important;
    color: var(--dark-color) !important;
}


.light .tag {
    background-color: var(--light-tag-background-color) !important;
    color: var(--light-tag-color) !important;
}

.dark .tag {
    background-color: var(--dark-tag-background-color) !important;
    color: var(--dark-tag-color) !important;
}


.light .popup {
    background-color: var(--light-background-color) !important;
    color: var(--light-color) !important;
}

.dark .popup {
    background-color: var(--dark-background-color) !important;
    color: var(--dark-color) !important;
}


.light .addedTag {
    background-color: var(--light-tag-background-color) !important;
    color: var(--light-tag-color) !important;
}

.dark .addedTag {
    background-color: var(--dark-tag-background-color) !important;
    color: var(--dark-tag-color) !important;
}


.light .addedTag:hover {
    background-color: var(--light-tag-background-color) !important;
    color: var(--light-tag-color) !important;
}

.dark .addedTag:hover {
    background-color: var(--dark-tag-background-color) !important;
    color: var(--dark-tag-color) !important;
}


.light #editor-container * { 
    background-color: var(--light-background-color) !important;
    color: var(--light-color) !important;
}

.dark #editor-container * {
    background-color: var(--dark-background-color) !important;
    color: var(--dark-color) !important;
}